<h4>{{t workers}}</h4>
<ul id="workers">
  {{#each group in controller.groups}}
    {{#view Travis.WorkersView contextBinding="repository"}}
      <li class="group">
        <h5 {{action toggle target="view"}}>
          {{group.firstObject.host}}
        </h5>
        <ul>
        {{#each worker in group}}
          <li class="worker">
            <div class="icon"></div>
            {{#if worker.job.id}}
              <a {{bindAttr title="worker.lastSeenAt"}} {{action showJob worker.job href=true}}>{{worker.display}}</a>
            {{/if}}
          </li>
        {{/each}}
        </ul>
      </li>
    {{/view}}
  {{else}}
    No workers
  {{/each}}
</ul>

